.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

mat-button-toggle-group {
  border-radius: 20px;
}

.content {
  margin-top: 30px;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 30px;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 0;
}

.tab-content {
  padding: 24px 0;
}
